body {
  background-color: #fafafa;
}

.status-line {
  clear: both;
}
.line-count a {
  display: inline-block;
}
.coverage .line-count, .coverage .line-coverage,
.coverage .text .prettyprint {
  font-size: 12px !important;
  line-height: 1.2 !important;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
}
.coverage .line-count{
  max-width: 40px;
  padding-right: 25px !important;
}

.coverage .line-coverage {
  max-width: 45px;
}

.coverage .line-coverage .cline-any {
  padding-right: 25px !important;
}
.coverage-summary {
  font-size: small;
}
